 <% content_for("page_header") do %>
 <%= stylesheet_link_tag 'application.css' %>
 <%= javascript_include_tag 'application.js' %>
<% end %>


<br><br><br>
<div id="cats">
 <a href="http://localhost:3000/cats/1"><%= image_tag "cat1.jpg", width: 480, height: 300 %></a>
 <a href="http://localhost:3000/cats/2"><%= image_tag "cat2.jpg", width: 480, height: 300 %></a>
 <a href="http://localhost:3000/cats/3"><%= image_tag "cat3.jpg", width: 480, height: 300 %></a>
 <a href="http://localhost:3000/cats/4"><%= image_tag "cat4.jpg", width: 480, height: 300 %></a>
 <a href="http://localhost:3000/cats/5"><%= image_tag "cat5.jpg", width: 480, height: 300 %></a>
 <a href="http://localhost:3000/cats/6"><%= image_tag "cat6.jpg", width: 480, height: 300 %></a>
 <a href="http://localhost:3000/cats/7"><%= image_tag "cat7.jpg", width: 480, height: 300 %></a>
 <a href="http://localhost:3000/cats/8"><%= image_tag "cat8.jpg", width: 480, height: 300 %></a>
 <a href="http://localhost:3000/cats/9"><%= image_tag "cat9.jpg", width: 480, height: 300 %></a>
 </div>
<br><br><br><br>

